<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>


    <session-factory>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mysql://asresh4w.beget.tech:3306/asresh4w_gwttest</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!--<property name="hibernate.c3p0.timeout"></property>-->

        <!-- ЭТИ СТРОЧКИ ПРОПАДУТ ПОСЛЕ АВТОГЕНЕРАЦИИ МАППИНГА НИЖЕ -->
        <property name="connection.username">asresh4w_gwttest</property>
        <property name="connection.password">gwttest</property>


        <!--TODO: посмотреть-->
        <property name="checkoutTimeout">10000</property>
        <property name="acquireIncrement">1</property>
        <property name="idleConnectionTestPeriod">100</property>

        <!-- Mapping -->
        <mapping class="com.app.shared.Club"/>
        <mapping class="com.app.shared.Player"/>

    </session-factory>
</hibernate-configuration>